
:root {
    --orange: #dc965a;
    --lpink : #fae4d1;
  }
  /* HERO Section */
  .hero-section::before{
    content: url(Assets/animation1.png);
    position: absolute;
    top: -120px;
    left: -200px;
    animation: mymove 10s infinite;
  }
  @media screen and (max-width: 768px) {
    .hero-section::before {
      top: -200px;
      left: -250px;
    }
  }
  .hero-section::after{
    content: url(Assets/animation2.png);
    position: absolute;
    bottom: -120px;
    right: -200px;
    animation: mymove 10s infinite;
  }
  @media screen and (max-width: 768px) {
    .hero-section::after {
      bottom: -200px;
      right: -250px;
    }
  }
  
  @keyframes mymove{
    0% {
  transform: rotate(0deg);
    }
    50% {
      transform: rotate(-40deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }
  .hero-section {
    background-image: linear-gradient(
        rgba(75, 53, 53, 0.52),
        rgba(24, 11, 21, 0.73)
      ),
      url(Assets/asset\ 14.jpeg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
  
  .text-change::before {
    content: "Web Developer";
    animation: animate infinite 5s ease-in;
    padding-left: 10px;
  }
  
  @keyframes animate {
    33% {
      content: "App Developer";
    }
  
    66% {
      content: "UI/UX Designer";
    }
  }

  /* CV Section */
  .cv-sec {
    height: 160vh;
    position: relative;
    background: white;
  }
  .cv-sec::after{
    content: "";
    background-color: var(--orange);
    height: 100%;
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .cv-image {
    border: 10px solid white;
    position: relative;
    z-index: 10;
  }
  .color-change {
    color: var(--orange);
  }
  .txt-jus {
    text-align: justify;
  }
  .cvbutton {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: relative;
    background-color: var(--orange);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
  }
  .cvbutton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: -1;
  }
  .cvbutton:hover::before {
    transform: translateX(0);
  }
  @media (max-width: 768px) {
    .cv-sec::after {
      display: none;
    }
  }  

/* Service Section */

  .serv-sec{
    background: var(--lpink);
  }
  .underlineAfter {
    position: relative;
  }
  .underlineAfter::after {
    content: "";
    position: absolute;
    background: var(--orange);
    width: 80px;
    height: 5px;
    bottom: 0;
    left: 36%;
    right: 0;
  }
  .service-card i {
    color: #dc965a;
    position: relative;
  }
  .serCardText{
    z-index: 4;
  }
  .service-card::after {
    content: "";
    background-color: var(--orange);
    height: 0%;
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in;
  }
  .service-card:hover::after {
    opacity: 1;
    height: 100%;
  } 
  .service-card:hover i {
    color: white;
  }
  .service-card:hover {
    color: white;
    z-index: 3;
  }

  /* Skills and Education */

  .education{
    background: var(--orange);
  }
  .skills{
    background: #FFF5EC;
  }
  .round-span {
    background: black;
    padding: 2px 10px;
    border-radius: 25px;
  }
  .round-span2 {
    background: var(--orange);
    padding: 2px 10px;
    border-radius: 25px;
  }
  .top-dashed {
    border-top: 1px dashed white;
    padding-top: 30px;
  }
  .bar::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
  
    background: var(--orange);
    width: 40px;
    height: 5px;
  }
  
  .progress-bar{
    background: var(--orange) !important;
    
  }

  /* My Portfolio */

  .port-con{
    background: var(--lpink);
  }
  .portfolio-nav li a:active,a:focus{
    border-bottom: 2px solid var(--orange);
  }
  
  .product-link{
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: none !important;
  }
  .card-product:hover .product-link{
    display: block !important;
    color: #dc965a;
  }
  .card-product:hover h5{
    color: var(--orange);
  }

  /* Carousel */
  
.caro-border{
  border: 2px solid var(--orange) ;
  }
  .caro-img{
  position: relative;
  bottom: 7px;
  left: 7px;
  }
  .caro-span {
  border-radius: 25px;
  }
  
  /* REcent Articels */

  .articles{
      background: var(--lpink);
  }
  .article-img{
      transition: transform .2s;
    }
    .article-img:hover{
      transform: scale(1.05);
    }
    .date-span{
      position: absolute;
      left: 10px;
      top: 10px;
    }
    .art-body{
      position: relative;
      bottom: 50px;
  right: 1px;
    }
    .art-body h6:hover,a:hover{
      color: var(--orange) !important;
      cursor: pointer;
    }
  